.collectionCard {
    background-color: #f7e7ce;
    position: relative;

}

.collectionCard:hover {
    -webkit-box-shadow: -19px 19px 0px 5px rgba(101,59,41,0.13); 
box-shadow: -19px 19px 0px 5px rgba(101,59,41,0.13);
transform: translate(10px, -10px)
}

.cardCont {
    margin: 0 0 60px 100px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.cardCont > img {
    width: 250px;
    height: auto;
}

.cardCont > h1:nth-child(2) {
    position: absolute;
    transform: rotate(270deg);
    font-weight: normal;
    font-size: 100px;
    color: #be6c42;
    opacity: 30%;
    top: 100px;
    left: 0;
}