.navCont {
    display: flex;
    justify-content: space-between;
    margin: 0 67px;
    
}

.navLeftCont {
    
}

.navLeft {
    background-color: #be6c42;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    padding: 15px;
    border-bottom-right-radius: 30px;
    font-size: 28px;
    font-weight: bolder;
    
}

.navRight {
    display: flex;
    align-items: center;
    gap: 130px;
}

.navLinks {
    display: flex;
    align-items: center;
    gap: 90px;
    font-size: 17px;
}

.navMenuIcon {
    display: flex;
    flex-direction: column;
    gap: 8px;
    align-items: flex-end;
}

.navLinks a {
    cursor: pointer;
    position: relative;
}

.navLinks p::before {
    content: "";
    position: absolute;
    top: 100%;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s;
    height: 2px;
    width: 100%;
    background-color: #713c25;
}

.navLinks a:hover p::before {
    transform: scaleX(1);
    transform-origin: center;
}

.navMenuLine {
    background-color: #713c25;
    height: 2px;
    transform-origin: left;
}

.navMenuLine:first-child {
    width: 24px;
}

.navMenuLine:nth-child(2) {
    width: 16px;
}

.navMenuLine:last-child {
    width: 8px;
}