.footer {
    background: url('../../images/img4.png') no-repeat center ;
    background-size: 100% 100%; 
}


.footCont {
    padding: 200px 100px 100px 100px;
}

.footTop {
    position: relative;
}

.footTop p {
    position: absolute;
    top: 50%;
    left: 10%;
}

.footTop p::before {
    content: "";
    position: absolute;
    width: 18px;
    height: 18px;
    background-color: #be6c42;
    left: -40px;
}

.footTop img {
    width: 100%;
}

.footBottom {
    display: flex;
    justify-content: space-between;
}

.footLeft {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
}

.hline {
    height: 2px;
    width: 100%;
    background-color: #be6c42;
    margin-top: 20px;
}

.socials {
    display: flex;
    gap: 60px;
    margin-top: 80px;
}

.footRight {
    display: flex;
    flex-direction: column;
    gap: 80px;
}

.rightLinks {
    display: flex;
    flex-direction: column;
    gap: 10px;
}