.banner {
    background-color: #be6c42;
    display: flex;
    align-items: center;
    padding: 10px;
    overflow: hidden;
    z-index: 10;
    position: relative;
}

.bannerContent {
    display: flex;
    align-items: center;
    gap: 150px;
    color: white;
    animation: scrolling 12s linear infinite;
}

.bannerContent p {
    flex-shrink: 0;
}

@keyframes scrolling {
    0% {
        transform: translateX(0);
    }
    100% {
        transform: translateX(-100vw);
    }
}